### import the dependencies

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.datasets
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics
from sklearn.datasets import fetch_openml

### importing the boston house price dataset

In [19]:
house_price_dataframe = pd.read_csv("data/HousingData.csv")

In [20]:
house_price_dataframe.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222     18.7  396.90    NaN  36.2

[5 rows x 14 columns]

In [21]:
# changed the  target column name from MEDV -> PRICE (price) column in the dataframe . Here price is in 1000 units . 24 = $24k
house_price_dataframe = house_price_dataframe.rename(columns={'MEDV': 'PRICE'})

In [22]:
house_price_dataframe.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  PRICE
0  0.00632  18.0   2.31   0.0  0.538  ...  296     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222     18.7  396.90    NaN   36.2

[5 rows x 14 columns]

In [23]:
house_price_dataframe.shape

(506, 14)

In [25]:
# checking the missing values
house_price_dataframe.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
PRICE       0
dtype: int64